github "cbpowell/MarqueeLabel" ~> 4.0.0
github "pixelogik/ColorCube" "master"
github "dennisweissmann/DeviceKit" ~> 2.3.0
github "GianniCarlo/SwiftReorder"
github "iosdevzone/IDZSwiftCommonCrypto" ~> 0.13.0
github "GianniCarlo/DirectoryWatcher" ~> 2.4.0
github "weichsel/ZIPFoundation" ~> 0.9.9
github "GianniCarlo/Themeable" "master"
github "getsentry/sentry-cocoa" ~> 4.1.0
github "onevcat/Kingfisher" ~> 5.9.0
github "bizz84/SwiftyStoreKit" ~> 0.14.2
